{% extends 'base.html' %}
{% load static %}
 
{% block extra_css %}
{% endblock %}

{% block body %}
    <style>
        th, td {
            border-bottom: 3px solid rgba(241,85,106,1);
            border-collapse: collapse;
            text-align: center;
            padding: 5px;
            height: 50px;
        }
</style>
{% endblock %}

{% block body %}

    <section class="section" id="about">
        <div class="container">
            <div class="form-element-html"><div ><div style="background-color:" class="heading-cover field-cover "><div style="text-align: left; font-size: 1.6em; padding-top: 10px; padding-bottom: ; color: #000000" class="bold-"><span >DETAILS</span></div><input type="hidden" data-field-id="field1" name="field1[]" value="SCHOOL DETAILS"></div></div></div>
                    </div><!-- end ngRepeat: element in page track by element.identifier --><div data-identifier="field33" data-index="1" style="width: 100%" class=" even form-element form-element-field33 options-false index-false form-element-1 default-false form-element-type-customText is-required-false -handle">
                    <div class="form-element-html"><div ><div class="absolute-false customText-cover field-cover" style="left: 20px; top: -20px;right: ;bottom: 100px;color: #b5b5b5 !important; background-color:"><div class="full" style="text-align: left"><hr ></div><input type="hidden" name="field33" data-field-id="field33"></div></div></div>

                    <div style="margin-left:5em; margin-top: 3em">
                        <label for="validationCustom01">Organization/Institution hosting the contest:</label>

                        <br><br>

                        <label for="validationCustom01">Breif detail about event: </label>

                        <br><br>

                        <label for="validationCustom01">Eligibility Creteria:  </label>

                         <br><br>

                         <label for="validationCustom01">Theme of Project  </label>

                         <br><br>

                         <label for="validationCustom01">Last Date of sumbmission  </label>

                         <label for="validationCustom01">Guidelines for submission </label>

                         <br><br>

                         <a href="register.html"><button type="submit" class="main-button-slider">Apply Now</button></a>


                    </div>

        </div>
    </section>

   
{% endblock %}
{% block extra_js %}
{% endblock %}