{% extends 'base.html' %} {% load static %} {% block extra_css %} {% endblock %}
{% block body %}

<section class="section" id="about">
  <div class="container">
    <div class="form-page-content ng-pristine ng-isolate-scope">
      <!-- ngRepeat: element in page track by element.identifier -->
      <div
        data-identifier="field1"
        data-index="0"
        style="width: 100%"
        class="form-element"
      >
        <div class="form-element-html">
          <div>
            <div style="background-color: " class="heading-cover field-cover">
              <div
                style="
                  text-align: left;
                  font-size: 1.6em;
                  padding-top: 10px;
                  padding-bottom: ;
                  color: #000000;
                "
                class="bold-"
              >
                <span>{{host_obj.org}}</span>
              </div>
              <input
                type="hidden"
                data-field-id="field1"
                name="field1[]"
                value=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- end ngRepeat: element in page track by element.identifier -->
      <div
        data-identifier="field33"
        data-index="1"
        style="width: 100%"
        class="even form-element form-element-field33 options-false index-false form-element-1 default-false form-element-type-customText is-required-false -handle"
      >
        <div class="form-element-html">
          <div>
            <div
              class="absolute-false customText-cover field-cover"
              style="
                left: 20px;
                top: -20px;
                right: ;
                bottom: 100px;
                color: #b5b5b5 !important;
                background-color: ;
              "
            >
              <div class="full" style="text-align: left"><hr /></div>
              <input type="hidden" name="field33" data-field-id="field33" />
            </div>
          </div>
        </div>
        <br />
        <h1>{{host_obj.username}}</h1>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block extra_js %} {% endblock %}
