{% extends 'base.html' %}
{% load static %}
 
{% block extra_css %}

    <style>
        th, td {
            border-bottom: 3px solid rgba(241,85,106,1);
            border-collapse: collapse;
            text-align: center;
            padding: 5px;
            height: 50px;
        }
</style>
{% endblock %}

{% block body %}



    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <table style="width: 100%;">
              <tr>
                <th>S.No.</th>
                <th>Organization</th> 
                <th>Hosting Date</th>
                <th>Details</th>
              </tr>
              <tr>
                <td>1</td>
                <td>umit</td>
                <td>3/10/2020</td>
                <td><a href="/core/applyto">Apply</a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>umit</td>
                <td>3/10/2020</td>
                <td><a href="/core/applyto">Apply</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>umit</td>
                <td>3/10/2020</td>
                <td><a href="/core/applyto">Apply</a></td>
              </tr>
              
            </table>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

   
{% endblock %}
{% block extra_js %}
{% endblock %}
