<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Scienocyde</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-lava.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            Scienocyde
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="index.html">Home</a></li>
                            <li class="scroll-to-section"><a href="about.html" >About</a></li>
                            <li class="scroll-to-section"><a href="idea.html" >Idea</a>
                            </li>
                            <li class="scroll-to-section"><a href="contact.html" >Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <section class="section" id="about">
        <div class="container">
          <form>
            <div class="form-page-content ng-pristine   ng-isolate-scope ">
                  <!-- ngRepeat: element in page track by element.identifier --><div data-identifier="field1" data-index="0" style="width: 100%" class=" form-element ">
                    <div class="form-element-html"><div ><div style="background-color:" class="heading-cover field-cover "><div style="text-align: left; font-size: 1.6em; padding-top: 10px; padding-bottom: ; color: #000000" class="bold-"><span >Submit Your Form</span></div><input type="hidden" data-field-id="field1" name="field1[]" value="SCHOOL DETAILS"></div></div></div>
                    </div><!-- end ngRepeat: element in page track by element.identifier --><div data-identifier="field33" data-index="1" style="width: 100%" class=" even form-element form-element-field33 options-false index-false form-element-1 default-false form-element-type-customText is-required-false -handle">
                    <div class="form-element-html"><div ><div class="absolute-false customText-cover field-cover" style="left: 20px; top: -20px;right: ;bottom: 100px;color: #b5b5b5 !important; background-color:"><div class="full" style="text-align: left"><hr ></div><input type="hidden" name="field33" data-field-id="field33"></div></div></div>

                    <br>


                  <div class="form-label">
                  <label for="validationCustom01">Title of your project</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder=""  required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <br>

                <div class="form-label">
                  <label for="validationCustom01">Question or Problem</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder=""  required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <br>


               <div class="form-label">
                  <label for="validationCustom01">Hypothesis or possible solution</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder=""  required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              
                <br>

                <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Materials needed:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <br>

                <div class="form-label">
                  <label for="validationCustom01">Data/Results</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder=""  required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <br>


              <div class="form-label">
                <label for="validationCustom01">Image of Project</label>
                <br>
                <form action="/action_page.php">
                <input type="file" id="myFile" name="filename">
               </form>
             </div>

                <br>

              <div class="form-label">

                <form action="/action_page.php">
              <label for="validationCustom01">Link of your project</label><br>
              <input type="url" class="form-control" id="validationCustom01" placeholder=""  required>
             </form>



              </div>

              <br>  



                <div class="form-label">
                  <label for="validationCustom01">Conclusion</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder=""  required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <br>


                

                <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                </div>
              </div>
              <button type="submit" class="main-button-slider">Submit</button>

                </form>   
        </div>
    </section>









        <div class="col-lg-12" style="text-align: center;background: linear-gradient(145deg, rgba(244,129,63,1) 0%, rgba(241,85,106,1) 100%); margin-top: 10px; position: fixed; bottom: 0;">
            <div class="sub-footer">
                <p style="color: white;"><em>Copyright &copy; 2020 Lava Landing Page | Developed by Koderz </em></p>
            </div>
        </div>

    <!-- ***** Welcome Area End ***** -->

    

   

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

</body>
</html>